{% extends "base.html" %}
{% block sidebar %}
<style type="text/css">
  p {
    font-size: medium;
  }

  li {
    font-size: medium;
  }
</style>
<div class="ui sticky">
  <div class="ui secondary vertical pointing fluid menu" id="main-nav">
    {{ hash_link('code_django','intro') }}
      Introduction
    </a>
    {{ hash_link('code_django','twilio') }}
      Twilio Config
    </a>
  </div>
  <h2>Models</h2>
  <div class="ui secondary vertical pointing fluid menu" id="main-nav">
    {{ hash_link('code_django','fax-field') }}
    Fax Model Fields
    </a>
    {{ hash_link('code_django','model-methods') }}
    Fax Model Methods
    </a>
  </div>
  <h2>Views</h2>
  <div class="ui secondary vertical pointing fluid menu" id="main-nav">
    {{ hash_link('code_django','status') }}
    Status Callback
    </a>
  </div>
  <button onclick="window.open('https://bitbucket.org/gdcwd5/fax_server/src/master/');" class="ui labeled icon blue fluid button">
    <i class="bitbucket icon"></i>
    Git Repo
  </button>
  <p></p>
  <button onclick="window.open('http://fax.cline.group');" class="ui labeled icon purple fluid button">
    <i class="fax icon"></i>
    View App
  </button>
</div>
{% endblock %}