{% extends "base.html" %}
{% block sidebar %}
<style type="text/css">
  p {
    font-size: medium;
  }

  li {
    font-size: medium;
  }
</style>
<div class="ui sticky">
  <div class="ui secondary vertical pointing fluid menu" id="main-nav">
    {{ hash_link('code_cpp','intro') }}
      Introduction
    </a>
  </div>
  <h2>Abstract Base Class</h2>
  <div class="ui secondary vertical pointing fluid menu" id="main-nav">
    {{ hash_link('code_cpp','base-class') }}
    Definition
    </a>
    {{ hash_link('code_cpp','member') }}
    Member Functions
    </a>
    {{ hash_link('code_cpp','friend') }}
    Friend Functions
    </a>
  </div>
  <h2>Implementation Class</h2>
  <div class="ui secondary vertical pointing fluid menu" id="main-nav">
    {{ hash_link('code_cpp','diag') }}
    Diagonal Matrix
    </a>
    {{ hash_link('code_cpp','helper') }}
    Helper Functions
    </a>
    {{ hash_link('code_cpp','access') }}
    Access Functions
    </a>
  </div>
  <h2>Overloading</h2>
  <div class="ui secondary vertical pointing fluid menu" id="main-nav">
    {{ hash_link('code_cpp','special-cases') }}
    Multiplication Special Cases
    </a>
  </div>
  <h2>Testing</h2>
  <div class="ui secondary vertical pointing fluid menu" id="main-nav">
    {{ hash_link('code_cpp','testing') }}
    Unit Test Example
    </a>
  </div>
  <button onclick="window.open('https://bitbucket.org/mst-gdcwd5/cs5201-hw6/src/master/');" class="ui labeled icon blue fluid button">
    <i class="bitbucket icon"></i>
    Git Repo
  </button>
</div>
{% endblock %}