{% extends "base.html" %}
{% block sidebar %}
<div class="ui fluid card">
  <div class="image">
    <img src="{{ url_for('static', filename='headshot.jpg') }}">
  </div>
  <div class="content">
    <a class="header">Geoffrey Cline</a>
    <div class="description">
      Geoffrey is a patent agent, with technical writing experience. He has a computer science background.
    </div>
  </div>
</div>
<button onclick="window.location.href = `{{ url_for('gdc_resume') }}`;" class="ui labeled icon fluid button">
  <i class="briefcase icon"></i>
  Resume
</button>
<p></p>
<button onclick="window.open('https://www.linkedin.com/in/geoffrey-cline/');" class="ui labeled icon fluid button">
  <i class="linkedin icon"></i>
  LinkedIn
</button>
<p></p>
<button onclick="window.open('https://bitbucket.org/gdcwd5/');" class="ui labeled icon fluid button">
  <i class="bitbucket icon"></i>
  BitBucket
</button>
<p></p>
<button onclick="window.open('https://github.com/geoffcline');" class="ui labeled icon fluid button">
  <i class="github icon"></i>
  GitHub
</button>
{% endblock %}
{% block content %}
<h1>Code Samples</h1>
<div class="ui top attached blue segment">
  <h2><a href="{{ url_for('code_django') }}">Add Twilio Fax to Django App</a>
    <div class="ui large right-header blue label">Python</div>
  </h2>
</div>
<div class="ui attached segment">
  <p>I created a Python:Django App for sending faxes, and viewing recently sent faxes. This tutorial covers creating a fax model in Django, and sending them with Twilio. You can see the actual code for the Django app in the git repo.</p>
</div>
<div class="ui attached segment">
  I actually built the corresponding Django app, and it works. However, it can only send messages to my numbers, a limitation of trial Twilio accounts. Check it out at <a href="http://fax.cline.group/">http://fax.cline.group/</a>
</div>
<div class="ui bottom attached segment">
  <button onclick="window.location.href = 'https://bitbucket.org/gdcwd5/fax_server/src/master/';" class="ui labeled icon button">
    <i class="bitbucket icon"></i>
    Git Repo
  </button>
  <button onclick="window.open('http://fax.cline.group');" class="ui labeled icon button">
    <i class="fax icon"></i>
    View App
  </button>
  <button onclick="window.location.href = `{{ url_for('code_django') }}`;" class="ui labeled icon primary button">
    <i class="book icon"></i>
    Documentation
  </button>
</div>
<div class="ui top attached red segment">
  <h2><a href="{{ url_for('code_cpp') }}">Matrix Library</a>
    <div class="ui large right-header red label">C++</div>
  </h2>
</div>
<div class="ui attached segment">
  <p>I created this C++ Matrix Library in an undergraduate course on advanced C++. This documentation introduces the key concepts and structure of the library.</p>
</div>
<div class="ui bottom attached segment">
  <button onclick="window.location.href = 'https://bitbucket.org/mst-gdcwd5/cs5201-hw6/src/master/';" class="ui labeled icon button">
    <i class="bitbucket icon"></i>
    Git Repo
  </button>
  <button onclick="window.location.href = `{{ url_for('code_cpp') }}`;" class="ui labeled icon primary button">
    <i class="book icon"></i>
    Documentation
  </button>
</div>
<button onclick="window.location.href = `{{ url_for('index') }}`;" class="ui labeled icon blue fluid button">
  <i class="left arrow icon"></i>
  View Writing Samples
  
</button>

{% endblock %}