{% extends "blog/blog-base.html" %}
{% block content %}
<div class="ui main text container">
    <h1 class="ui huge header">
        <div class="content">Remote Development with VS Code</div>
        <div class="sub header">
            May 20, 2020 by <a href="#">Geoffrey</a>
        </div>
    </h1>
    <p>With VS Code, you can write code anywhere. The SSH-Remote extension integrates the files and terminal of a remote computer into a first class editor experience. Setting up a remote VM to be your development environment solves many configuration headaches, and it's easier than ever with VS Code and Digital Ocean. You don't even need a password. </p>
    </ul>
    <h1>Setup your SSH Key #PasswordLess</h1>
        <h3>Create a Key for Your Windows Machine</h3>
        <p>Creating a SSH key is a secure way to login to a remote machine, and you don't have to remember a password. Windows 10
            natively supports SSH and SSH keys. If you already have a SSH key, you can skip to setting up the VM. 
            <p>Open Windows Terminal and run:
            "ssh-keygen". Follow the prompts, and save the key in the default location. VS Code will automatically use this
            key to login to your VM (e.g., the SSH server).</p>
            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    See what running ssh-keygen looks like:
                </div>
                <div class="content" id="about">
                    <a href="https://gyazo.com/5bcc2618f46b0fcaf78e9e6526c3d853"><video class="ui fluid image"
                        alt="Video from Gyazo" width="546" autoplay muted loop playsinline controls>
                        <source src="https://i.gyazo.com/5bcc2618f46b0fcaf78e9e6526c3d853.mp4" type="video/mp4" /></video></a>
                </div>
            </div>
            <p></p>
            
        
        <h1 id="setup-vm">Setup a VM</h1>
            <p>I'm using DigitalOcean in this example. It's an affordable and easy to use platform. However, your dev VM could be anything you can SSH into.</p>
            <h3>Create your Development VM</h3> 
            <p>Get started by creating a VM. In DigitalOcean, this is called a droplet. A good starter configuration is Ubuntu with 2 CPUs and 2 GB of RAM. This should cost roughly $15 a month. In Digital Ocean, navigate to Droplets and create a new one. Follow the prompts to choose the type of the VM.</p>
            <h3>Add the Key to Digital Ocean</h3>
            <p>While creating the VM in DigitalOcean, choose the SSH Key login/authentication option.</p>
            <p>To add your unique key to DigitalOcean, start by copying your entire SSH public key. Open your public key in VS Code by running 'code .\.ssh\id_rsa.pub' in the windows terminal, and copy the entire thing to your clipboard.</p>
            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    See how to open the key in VS Code
                </div>
                <div class="content" id="about">
                    <a href="https://gyazo.com/3953817b1807b683558da6a31e39494a"><video alt="Video from Gyazo" width="642"
                        autoplay muted loop playsinline controls>
                        <source src="https://i.gyazo.com/3953817b1807b683558da6a31e39494a.mp4" type="video/mp4" />
                        </video></a>
                </div>
            </div>
            <p></p>
            <p>After copying the key, click the "New SSH Key" option on the "Create Droplet" page. Paste in your SSH key and give it a descriptive name (e.g., a nickname of the computer you are connecting from).</p>
            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    See how to add a key to Digital Ocean
                </div>
                <div class="content" id="about">
                    <a href="https://gyazo.com/c73c8d2c005c1929057debe844449f41"><video alt="Video from Gyazo" width="676"
                        autoplay muted loop playsinline controls>
                        <source src="https://i.gyazo.com/c73c8d2c005c1929057debe844449f41.mp4" type="video/mp4" />
                        </video></a>
                </div>
            </div>
            <p></p>
            <p>After you finish creating the VM, you can see the public IP address. Make a note of this address, and use it to connect via SSH. Alternatively, you could create a hostname that also points to this VM.</p>
            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    See the IP address in DigitalOcean
                </div>
                <div class="content" id="about">
                    <a href="https://gyazo.com/06f4a8462bdb93ccba98ad4556ff31d5"><img src="https://i.gyazo.com/06f4a8462bdb93ccba98ad4556ff31d5.png" alt="Image from Gyazo" width="407"/></a>
                </div>
            </div>
            <h1 id="vs-code">Configure VS Code</h1>
                <h3 id="remote-extensions-">Install "Remote-SSH" Extension</h3>
                <p>Now that your VM is ready, let's configure VS Code to connect to it.</p>
                <p>Install the "Remote - SSH" extension. This extension is provided by Microsoft. Generally, it allows your editor to interact with files on a remote machine.</p>
                <p>Click the extension icon in the sidebar, and search for "Remote-SSH". Install the extension, and follow the prompt to reload VS Code.</p>
                <a href="https://gyazo.com/7afeb1a6cfd28f4f42b1fad6278534f7"><video alt="Video from Gyazo" width="576"
                        autoplay muted loop playsinline controls>
                        <source src="https://i.gyazo.com/7afeb1a6cfd28f4f42b1fad6278534f7.mp4" type="video/mp4" />
                        </video></a>
                <h3 id="remote-extensions-">Configure SSH Connection</h3>
                <p>Now, tell VS code to connect to your VM. I created a hostname (e.g., dev.cline.group) for my VM, but you can also use the IP address shown by your VM provider (e.g., DigitalOcean.</p>
                <p>Click on the remote connect icon in the bottom left. This will open a command panel at the top of the window. Select &quot;Remote-SSH: Connect to Host...&quot; and then choose add new host.</p>
                <a href="https://gyazo.com/2fb0232e1dfee9492a8f3ade36d1fc3d"><video class="ui fluid image" alt="Video from Gyazo" width="692"
                    autoplay muted loop playsinline controls>
                    <source src="https://i.gyazo.com/2fb0232e1dfee9492a8f3ade36d1fc3d.mp4" type="video/mp4" />
                    </video></a>
                    <p></p>
                <p>Now, enter the SSH command you would usually enter in a terminal, eg, linux terminal. Use the format: "[username]@[domain or IP address]". For example, "ssh myuser@123.456.789.123"</p>
                <div class="ui styled fluid accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        See how to enter a SSH command in VS Code
                    </div>
                    <div class="content" id="about">
                        <a href="https://gyazo.com/a912728c719bf062bfadb77cc05784e9"><video class="ui fluid image" alt="Video from Gyazo" width="716" 
                            autoplay muted loop playsinline controls>
                            <source src="https://i.gyazo.com/a912728c719bf062bfadb77cc05784e9.mp4" type="video/mp4" />
                            </video></a>
                    </div>
                </div>
                <p></p>
                <div class="ui styled fluid accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Connection Issues?
                    </div>
                    <div class="content" id="about">
                        <p>If you can't connect via ssh, try using the console in your cloud provider. In Digital Ocean, navigate to your droplet, and choose access. If you can connect there, it may be a port/firewall issue. Use the cloud console to <a href="https://www.hostwinds.com/guide/change-ssh-port/">change the port of the SSH server</a>. Then, when entering the SSH command into VS code, use this new port with the -p option. For example, "ssh root@server -p 2222".</p>
                    </div>
                </div>
                <p></p>
                <p></p>
                <p>Everything you need will be automatically installed on the remote machine. In other words, the VS code server will be automatically installed.</p>
                <h3>Open your Project Folder (i.e., 'Workspace')</h3>
                <p>Now that you have defined a host, let's open a folder on the remote VM.</p>
                <p>This folder is called a workspace, and is the base folder of a project. VS Code saves workspaces you have opened recently.</p>
                <p>Click on the remote connection panel on the left, and then double click on the host you defined.</p> 
                    <p>This will open a new window connected to the remote VM. Now, choose the "open folder" option in the file pane. This loads a file picker for the remote machine. </p>
                    <a href="https://gyazo.com/66e5c31f2d19c2b8552047087895d840"><video alt="Video from Gyazo" width="464" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/66e5c31f2d19c2b8552047087895d840.mp4" type="video/mp4" /></video></a>
                <p>By the way, you can drag and drop files from your local computer into the file pane, and they will be automatically copied to the remote VM.</p>
                <h1 id="remote-extensions-">Get Building</h1>
                <p>Use the terminal built into VS Code to build and run your projects. Open the terminal with Ctrl-` -- the key above tab. VS Code automatically opens another SSH connection, and navigates to your workspace folder.</p>
                <a href="https://gyazo.com/94da75ccb2f91ce83a16498a8e7e3ab2"><video class="ui fluid image" alt="Video from Gyazo" width="796"
                        autoplay muted loop playsinline controls>
                        <source src="https://i.gyazo.com/94da75ccb2f91ce83a16498a8e7e3ab2.mp4" type="video/mp4" />
                        </video></a>
                <h1 id="remote-extensions-">Access Web Apps</h1>
                <p>Now that you are running code on your remote machine, you may be wondering how to access web applications running remotely.</p>
                <p>VS Code automatically sets up SSH tunnels, so you can access applications running on addresses like
                    "localhost:5000" or
                    "127.0.0.1:8000". Control-click on the link in the terminal, and the webpage opens. Just like you were
                    running it
                    locally. </p>
                <a href="https://gyazo.com/bd2ccfdc1006debc89187ab4c2d10d59"><video class="ui fluid image" alt="Video from Gyazo" width="730"
                        autoplay muted loop playsinline controls>
                        <source src="https://i.gyazo.com/bd2ccfdc1006debc89187ab4c2d10d59.mp4" type="video/mp4" />
                        </video></a>
                        <p></p>
                        <p>Notice the URL is to local machine, but VS Code forwards it to the remote machine.</p>
                <p></p>
                
                <p>Ready to disconnect? Just close the window.</p>
                <h1>Wrap Up</h1>
                <p>With remote files and a built in terminal, you have everything you need to get coding on your VM. However, this is just the start of what VS Code can do.</p>
                <p>Check out the extensions for the language you are using. They are run on the remote machine, and have access to all the remote libraries and files. It's all the features from a rich development environment, loaded with a click. Open on the extension panel in the left toolbar, and search for a language to get started. I'm a fan of the <a href="https://code.visualstudio.com/docs/languages/python">Python extension</a>. It automatically detects virtual environments. Have Fun!</p>
</div>




{% endblock %}