{% from "macros.html" import nav_link with context %}
{% from "macros.html" import hash_link with context %}
{% from "macros.html" import placeholder_section with context %}
{% from "macros.html" import code_block with context %}
{% from "macros.html" import cpp_block with context %}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>GDC Writing Samples</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" rel="stylesheet"/>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/container.min.css"
          integrity="sha256-7rJADGJ6l3YF6uxVoTB1b6xhQb93nEsuYsCBmXQX7Ds=" rel="stylesheet"/>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/image.min.css"
          integrity="sha256-fq7fY32a0sYPnyJyXc44WisZyImTDTltXD4yOWD4DII=" rel="stylesheet"/>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/rail.min.css"
          integrity="sha256-86pGEdfMaxFfqxRXSmz2hQu1Uj3NC2Jcf0SDtnCckE4=" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.1/styles/xcode.min.css"
          rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165773085-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-165773085-1');
    </script>


    <style type="text/css">

        body {
            background-color: #FFFFFF;
        }

        html {
            scroll-behavior: smooth;
        }

        pre {
            margin: 0em;
        }

        .hljs {
            padding: 0em;
            background: #f8f8f8;
        }

        .ui.code.segment:not(.top) {
            background: #f8f8f8;
        }

        .ui.code.segment {
            padding: 0.6em 1em;
        }

        .main.container {
            margin-top: 1em;
        }

        .table-code {
            font-family: monospace;
            color: #cb602d;
        }

        .ui.label.right-header {
            float: right;
        }

        .wireframe {
            margin-top: 1em;
        }

        .ui.footer.segment {
            margin: 1em 0em 0em;
            padding: 1em 0em;
        }
    </style>

</head>

<body>


<div class="ui main container">
    <div class="ui inverted huge blue menu">
        <div class="ui container">
            <a class="active header item" href="{{ url_for('index') }}">
                Geoffrey Cline
            </a>
            <div class="ui dropdown item">
                Writing Samples <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ url_for('api_index') }}">Fax API Reference</a>
                    <a class="item" href="{{ url_for('fax_server') }}">Setup Fax Server</a>
                    <a class="item" href="{{ url_for('blog_tf') }}">Read TensorFlow Diagrams</a>
                    <a class="item" href="{{ url_for('blog_remote') }}">
                        Intro to Remote Development&nbsp;&nbsp;
                        <div class="ui horizontal medium red label">
                            Blog
                        </div>
                    </a>
                </div>
            </div>
            <div class="ui dropdown item">
                Code Samples <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ url_for('code_index') }}">Overview</a>
                    <a class="item" href="{{ url_for('code_django') }}">
                        Add Twilio Fax to Django App&nbsp;&nbsp;
                        <div class="ui horizontal medium blue label">
                            Python
                        </div>
                    </a>
                    <a class="item" href="{{ url_for('code_cpp') }}">
                        Matrix Library&nbsp;&nbsp;
                        <div class="ui horizontal medium red label">
                            C++
                        </div>
                    </a>
                </div>
            </div>
            <div class="ui dropdown item">
                About Me <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ url_for('gdc_resume') }}">Resume</a>
                    <a class="item" href="https://www.linkedin.com/in/geoffrey-cline/">LinkedIn</a>
                    <a class="item" href="https://bitbucket.org/gdcwd5/">Bitbucket</a>
                    <a class="item" href="https://github.com/geoffcline">
                        GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="four wide column">
            {% block sidebar %}{% endblock %}
        </div>
        <div class="twelve wide column" id="text-container">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui horizontal small divided link list">
            <a class="item" href="#">Geoffrey Cline</a>
        </div>
    </div>


    <!-- Add your site or application content here -->
    <script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
    <script crossorigin="anonymous" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI="
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha256-kt0Dfi+mrxAU+iYsfDrkROHrb55Hi0lVWC7MT46/xnU="
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js" integrity="sha256-uEocYy6a0MpPLLHtYV7QAGdOeMRwE0Am2WtnOg/hBfM=" crossorigin="anonymous"></script>
    <script>
        $('.ui.accordion')
            .accordion()
        ;

        $('.sticky')
            .sticky({
                context: '#text-container'
            })
        ;

        $('#title')
            .sticky()
        ;

        $('.ui.dropdown')
            .dropdown()
        ;

        $(".tabular.menu .item").tab();

        function onHashChange() {
            $(".hash-link").each(function () {
                var href = $(this).attr("href");
                if (window.location.hash && (href.substr(href.indexOf("#")) === window.location.hash)) {
                    $(this).addClass("active")
                }
                else if ($(this).hasClass("active")) {
                    $(this).removeClass("active")
                }
            })
        }


        $(document).ready(function () {
            onHashChange()
        });

        $(window).on('hashchange', onHashChange);
    </script>

</body>

</html>
