{% extends "server-base.html" %}
{% block content %}
    <h1 id="setup-a-fax-server">Setup a Fax Server</h1>
    <p>ICTFax is open source software for sending and receiving faxes. ICTFax handles multiple incoming phone numbers,
        multiple users, and routing incoming faxes. Users can send faxes using the web interface, or with special email
        addresses.
        For example, an email from a registered email address to 18002752273@fax.mydomain.com triggers the fax
        server. </p>
    <!--terms: VM, hostname, ICTFax, ICTFax Modules<-->

    <h1 id="configure-server">Configure Server</h1>
    <h2 id="vm">Setup a Virtual Machine</h2>
    <p>
        Setup ICTFax in a dedicated virtual machine (VM). Roughly 2gb of memory and 2 CPU cores is sufficient for a small number of active users. ICTFax has been tested with the DigitalOcean VM platform.</p><p>
    ICTFax is configured to run on CentOS 7, and has not been tested with other platforms. </p><p>
    The VM needs a hostname. Appropriate hostnames include “fax.mydomain.com” and myfax.com” </p><p>
    Configure MX (mail exchange) records for the hostname. Mail for the hostname (e.g., @myfax.com) should be directed to the IP address of the VM.</p><p>
    </p>
    <div class="ui styled fluid accordion">
    <div class="title">
            <i class="dropdown icon"></i>
            Example DNS Records, including MX Record
        </div>
        <div class="content" id="about">
            <img class="ui fluid screenshot image" src="{{ url_for('static', filename='dns-records-revised.PNG') }}">
        </div>
    </div>
    <p></p>
    <p>Open a SSH connection to the VM. Connect as root, or appropriately use ‘sudo’ in the shell commands below.</p>
    <h2 id="core">Install Fax Server Core</h2>
    <p>Disable SELinux (Secure Linux) on the VM. ICTFax has not been tested with <a href="https://www.redhat.com/en/topics/linux/what-is-selinux">SELinux</a>. </p>
    <div class="ui top attached code orange segment">
        <p>shell, on vm</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">getenforce
setenforce 0</code></pre>
    </div>
    <p>ICTFax requires FreeSWITCH, and Sendmail.
        Add the freeswitch and ICTFax repositories:</p>
    <div class="ui top attached code orange segment">
        <p>shell, on vm</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">yum install -y https://service.ictinnovations.com/repo/7/ict-release-7-4.el7.centos.noarch.rpm
yum install -y http://files.freeswitch.org/freeswitch-release-1-6.noarch.rpm</code></pre>
    </div>
    <p>Install FreeSwitch, and the web hosting dependencies.
        Web hosting dependencies include: Apache 2, MariaDB, and PHP 5. </p>
        <p>Also install MariaDB locally as the database for ICTFax. Installation scripts directed to email delivery depend on a
            local database instance.</p>
    <div class="ui top attached code orange segment">
        <p>code-header</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">yum install apache php
yum install mariadb
yum install -y epel-releas
yum install freeswitch</code></pre>
    </div>

    <p>Install the core modules for ICTFax:</p>
    <div class="ui top attached code orange segment">
        <p>shell, on vm</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">yum -y install ictcore ictcore-fax ictcore-email</code></pre>
    </div>
    <h2 id="database">Setup Database</h2>
    <p>Connect to the database, then setup the ICTFax table and user.
        If using the default local MariaDB instance, connect with “mysql”.
        Create the ICTFax Database and User. Make note of the database name, database username, and associated password.
    </p>
    <div class="ui top attached code orange segment">
        <p>shell, on vm</p>
    </div>
    <div class="ui attached code segment">
        <pre><code class="code shell">mysql</code></pre>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">CREATE DATABASE ictfax;
USE ictfax;
GRANT ALL PRIVILEGES ON ictfax.* TO ictfaxuser@localhost IDENTIFIED BY 'plsChangeIt';
FLUSH PRIVILEGES;</code></pre>
    </div>
    <p>Import ICTFax Schema and Demo Data.</p>
    <div class="ui top attached code orange segment">
        <p>in mysql on vm</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">SOURCE /usr/ictcore/db/database.sql;
SOURCE /usr/ictcore/db/fax.sql;
SOURCE /usr/ictcore/db/email.sql;
SOURCE /usr/ictcore/db/data/role_user.sql;
SOURCE /usr/ictcore/db/data/role_admin.sql;
SOURCE /usr/ictcore/db/data/demo_users.sql;</code></pre>
    </div>
    <p>Configure ICTFax with the database name, database username, and associated password.
        Open ictcore.conf. Then, under the [db] section, update the database name, username, and password. </p>
    <div class="ui top attached code orange segment">
        <p>shell, change text file</p>
    </div>
    <div class="ui attached code segment">
        <pre><code class="code shell">nano /usr/ictcore/etc/ictcore.conf</code></pre>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">user = ictfaxuser
pass = plsChangeIt
name = ictfax</code></pre>
    </div>
    <p></p>
    <h2 id="mxrecords">Setup SMTP to Receive Emails</h2>
    <p>Configure sendmail.mc to receive mail on all interfaces (e.g., IP addresses). </p>
        <div class="ui warning message">
            <div class="header">
              Firewall Port Warning
            </div>
            Port 25 must be open to the internet to receive emails. 
        </div>
    <div class="ui top attached code orange segment">
        <p>shell, change text file</p>
    </div>
    <div class="ui attached code segment">
        <pre><code class="code shell">nano /etc/mail/sendmail.mc</code></pre>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">
# remove
DAEMON_OPTIONS(`Port=smtp,Addr=127.0.0.1, Name=MTA')dnl
# add
DAEMON_OPTIONS(`Port=smtp, Addr=0.0.0.0, Name=MTA')dnl</code></pre>
    </div>
    <p>Add ICTFax to the trusted users for receiving mail.</p>
    <div class="ui top attached code orange segment">
        <p>shell, on vm</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">echo "ictcore" >> /etc/mail/trusted-users
echo "apache" >> /etc/mail/trusted-users</code></pre>
    </div>
    <p>Add your domain to the allowed local domain list, used for handling incoming emails. </p>
    <div class="ui top attached code orange segment">
        <p>shell, on vm</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">echo "FAX_DOMAIN.COM" >> /etc/mail/local-host-names</code></pre>
    </div>
    <p>Configure sendmail to route all emails to ICTFax. Emails addressed based on phone numbers (e.g.,
        18002752273@myfax.org) will be routed to ICTFax. </p>
    <div class="ui top attached code orange segment">
        <p>shell, on vm</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">echo '@FAX_DOMAIN.COM ictcore' >> /etc/mail/virtusertable</code></pre>
    </div>
    <p>Update sendmail, and restart the service. This may take 1-3 minutes.</p>
    <div class="ui top attached code orange segment">
        <p>shell, on vm</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">/etc/mail/make
chkconfig sendmail on
service sendmail restart</code></pre>
    </div>
    <p>Update the configuration of ICTFax, connecting it to the incoming email. </p>
    <div class="ui top attached code orange segment">
        <p>shell, change text file</p>
    </div>
    <div class="ui attached code segment">
        <pre><code class="code shell">nano /usr/ictcore/etc/ictcore.conf</code></pre>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">
# under heading [sendmail]
folder = /var/spool/email/ictcore</code></pre>
    </div>
    <p>Import the email to fax handling rules. For example, 18002752273@myfax.org will be routed to the phone number
        1-800-332-0288. This requires using the default MariaDB instance. </p>
    <div class="ui top attached code orange segment">
        <p>shell, on vm</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">cd /usr/ictcore/bin/sendmail
./email_to_fax</code></pre>
    </div>
    <h2 id="webinterface">Setup Web Interface</h2>
    <p>Install the ICTFax web interface.</p>
    <div class="ui top attached code orange segment">
        <p>shell, on vm</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">yum install ictfax</code></pre>
    </div>
    <p>Restart the apache web server. </p>
    <div class="ui top attached code orange segment">
        <p>shell, on vm</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">service httpd restart</code></pre>
    </div>
    <p>Accessing the web interface requires port 80 open on the VM.</p>
    <div class="ui warning message">
        <div class="header">
          Port Warning
        </div>
        Limiting access to port 80 (e.g., http requests) to a private network reduces attack surface. 
    </div>
    <h1 id="administrative-tasks">Administrative Tasks</h1>
    <h2 id="access">Access Web Interface</h2>
    <p>Visit the URL of the web interface, using the hostname configured for the VM.</p>
    <div class="ui top attached code orange segment">
        <p>URL, access in web browser</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">http://yourdomain/ictfax</code></pre>
    </div>
    <p>The database includes a default login. </p>
    <div class="ui top attached code orange segment">
        <p>default login for web interface</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">username: admin@ictcore.org
password: helloAdmin</code></pre>
    </div>
    <h2 id="provider">Setup Fax Provider</h2>
    <div class="ui breadcrumb">
        <div class="section">Administration</div>
        <i class="right angle icon divider"></i>
        <div class="section">Provider / Trunks</div>
        <i class="right angle icon divider"></i>
        <div class="active section">Add Provider</div>
      </div>
      <p></p>
    <p>ICTFax requires a SIP fax provider. ICTFax will connect to the provider and transmit the fax. Also, ICTFax will
        register with provider using SIP. The provider will, based on the registration, initiate connections back to ICTFax in the process of receiving faxes.</p>
        <p>ICTFax establishes one ‘trunk’ connection to the provider. This connection is sufficient for one fax connection
        at a time. However, the provider can route faxes for multiple numbers over the single trunk connection.
        Acquire phone numbers at the SIP provider, which may be referred to as “DID” (direct inbound dial) numbers.</p>
        <p>Phone numbers must also be added at ICTFax.</p>
        <p><a href="https://www.t38fax.com/pricing/">T38fax</a> is a compatible SIP provider. </p>
        <div class="ui styled fluid accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                Example SIP Configuration
            </div>
            <div class="content" id="about">
                <div class="ui code segment">
                    <pre><code class="code shell">Host: sip.provider.com
Port: 5650
Username: 89045389
Password: ax79307be</code></pre>
                </div>
                
            </div>
                <div class="title">
                        <i class="dropdown icon"></i>
                        Configuration Screenshot
                    </div>
                    <div class="content" id="about">
                        <img class="ui fluid screenshot image" src="{{ url_for('static', filename='server-provider.PNG') }}">
                    </div>
        </div>
        <ul>
            <li>Input the provider name, and mark the provider as active</li>
            <li>Select the gateway type of &quot;SIP&quot; for faxing</li>
            </ul>
            <ul>
            <li>Use the username and password supplied by your fax SIP provider</li>
            <li>Use the fax hostname and port supplied by the fax SIP provider</li>
            </ul>
            <ul>
            <li>Set the new SIP provider as the default</li>
            <li>Leave the prefix field blank</li>
            <li>Select the weight of 0</li>
            </ul>
            <ul>
            <li>Enable the registration option, to allow incoming faxes</li>
            <li>Save the provider</li>
            </ul>
            
    <h2 id="users">Configure Users and Phone Numbers</h2>
    <h3>Create a User</h3>
    <div class="ui breadcrumb">
        <div class="section">Administration</div>
        <i class="right angle icon divider"></i>
        <div class="section">User Management</div>
        <i class="right angle icon divider"></i>
        <div class="active section">Add User</div>
      </div>
<ul>
<li>Enter a username, used for logging into web portal</li>
<li>Set an initial password</li>
</ul>
<ul>
<li>Complete user profile information, including email.</li>
<li>The email address is used for notifications of received faxes, and to send outgoing faxes using an email client.</li>
</ul>
<ul>
<li>Choose the appropriate country and time zone</li>
</ul>
<ul>
<li>Mark the user active</li>
</ul>
<ul>
<li>Select the &quot;user&quot; or &quot;admin&quot; role as appropriate. Admins can manage providers, users, and phone numbers.</li>
<li>Save the user</li>
</ul>

    
    <h3>Create a Phone Number (i.e., DID)</h3>
    <div class="ui breadcrumb">
        <div class="section">DID Numbers</div>
        <i class="right angle icon divider"></i>
        <div class="active section">Add DID</div>
      </div>
      <p></p>
<ul>
<li>Enter the phone number, in the format used by the SIP provider.
    </li>
</ul>
<div class="ui message">
    <div class="header">
      Formatting of Phone Numbers
    </div>
    The standard is country code, followed by the country formatted number. In the US, this is a 3 digit area code followed by a 7 digit local number. For example, a US toll free number may be formatted as: &quot;18002752273&quot; 
</div>
<ul>
<li>Mark the number as active.</li>
<li>Save the number</li>
</ul>



    <h3>Assign Phone Numbers to Users</h3>
    <ul>
        <li>Find number in list</li>
        <li>Click arrow icon</li>
        <li>Select user to assign to phone number</li>
        </ul>
        <ul>
        <li>This allows the user to send faxes from the number, and also activates email alerts for incoming faxes</li>
        </ul>
        <div class="ui styled fluid accordion">
                <div class="title">
                        <i class="dropdown icon"></i>
                        Configuration Screenshot
                    </div>
                    <div class="content" id="about">
                        <img class="ui fluid screenshot image" src="{{ url_for('static', filename='assign-markup.png') }}">
                    </div>
        </div>
        <h2>Configure Fax by Email</h2>
    <h3 id="incoming">Setup Incoming Faxes by Email</h2>
    <p>Users are automatically sent notifications for phone numbers they are assigned to. The email notifications include the faxed document as a PDF attachment, and include the sending phone number.</p>
    <div class="ui warning message">
        <div class="header">
          Inbound Email Whitelist
        </div>
        Add your fax email domain to the inbound whitelist for the spam filter on your primary email domain.
    </div>
    <h3 id="transmit">Setup Transmit Faxes
        by Email</h2>
    <p>Users can transmit faxes by sending an email to {number}@myfax.org. For example, 13148248872@myfax.org. Only emails from registered users will be accepted, and the user's assigned number will be used as the sending number. The fax document should be attached as a PDF.</p>
    <div class="ui top attached code orange segment">
        <p>example email</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">from: registered-user@user.com
to: 18002752273@myfax.com
attachment: fax-document.pdf</code></pre>
    </div>
    <div class="ui warning message">
        <div class="header">
          Outbound Email Whitelist
        </div>
        If you experience errors sending emails to the fax domain, check if your email provider has an outgoing email spam filter. Add the fax domain to the whitelist.
    </div>


{% endblock %}
