{% extends "base.html" %}
{% block sidebar %}
<div class="ui fluid card">
  <div class="image">
    <img src="{{ url_for('static', filename='headshot.jpg') }}">
  </div>
  <div class="content">
    <a class="header">Geoffrey Cline</a>
    <div class="description">
      Geoffrey is a patent agent, with technical writing experience. He has a computer science background.
    </div>
  </div>
</div>
<button onclick="window.location.href = `{{ url_for('gdc_resume') }}`;" class="ui labeled icon fluid button">
  <i class="briefcase icon"></i>
  Resume
</button>
<p></p>
<button onclick="window.open('https://www.linkedin.com/in/geoffrey-cline/');" class="ui labeled icon fluid button">
  <i class="linkedin icon"></i>
  LinkedIn
</button>
<p></p>
<button onclick="window.open('https://bitbucket.org/gdcwd5/');" class="ui labeled icon fluid button">
  <i class="bitbucket icon"></i>
  BitBucket
</button>
<p></p>
<button onclick="window.open('https://github.com/geoffcline');" class="ui labeled icon fluid button">
  <i class="github icon"></i>
  GitHub
</button>
{% endblock %}
{% block content %}
    <h1>Writing Samples</h1>
    <div class="ui top attached red segment">
      <h2><a href="{{ url_for('blog_remote') }}">VS Code Remote Development </a><div class="ui large right-header red label">Blog</div></h2>
    </div>
    <div class="ui bottom attached segment">
        <p>I used VS Code's remote development extensions to build this website, and loved it. I wrote a blog post about setting up remote development, targeted to a new developer.</p>
    </div>
    <div class="ui top attached purple segment">
      <h2><a href="{{ url_for('api_index') }}">Fax API Service </a><div class="ui large right-header purple label">Reference</div></h2>
    </div>
    <div class="ui bottom attached segment">
        <p>I found the API documentation for <a href="https://www.twilio.com/docs/fax/api">Twilio's Programmable Fax</a> service suboptimal. I improved the structure, surfacing the essential elements for the service. The audience for this documentation is an entry-level developer.</p>
    </div>
    <div class="ui top attached green segment">
      <h2><a href="{{ url_for('fax_server') }}">Setup Fax Server </a><div class="ui large right-header green label">Tutorial</div></h2>
    </div>
    <div class="ui bottom attached segment">
        <p>The documentation for this open source fax server, ICTFax, was aggressively unhelpful. I rewrote the tutorial with more accurate information. The audience for this tutorial is a developer with some operations experience.</p>
    </div>
    <div class="ui top attached orange segment">
      <h2><a class="item" href="{{ url_for('blog_tf') }}">Read TensorFlow Diagrams </a><div class="ui large right-header orange label">Conceptual</div></h2>
    </div>
    <div class="ui bottom attached segment">
        <p>This blog post is an introduction to the TensorFlow diagrams used to illustrate machine learning systems. The audience is someone new to machine learning concepts.</p>
    </div>
    <div class="ui top attached blue segment">
      <h2><a class="item" href="https://bitbucket.org/gdcwd5/flask-samples-02may2020/src/master/">Website Git Repository</a>
        <div class="ui large right-header blue label">Code</div>
      </h2>
    </div>
    <div class="ui bottom attached segment">
        <p>I built this site using the Python Flask framework, and the Jinja template system. I used Bitbucket's piplines feature and Heroku to automate deployment and hosting.</p>
    </div>
    <button onclick="window.location.href = `{{ url_for('code_index') }}`;" class="ui right labeled icon blue fluid button">
      View Code Samples
      <i class="right arrow icon"></i>
    </button>
{% endblock %}