{% macro nav_link(endpoint) %}
    {% if request.endpoint.endswith(endpoint) %}
        <a class="active item" href="{{ url_for(endpoint) }}">
    {% else %}
        <a class="item" href="{{ url_for(endpoint) }}">
    {% endif %}
{% endmacro %}

{% macro hash_link(endpoint, hash) %}
    <a class="hash-link item" href="{{ url_for(endpoint) + '#' + hash }}">
{% endmacro %}

{% macro code_block(textfile) %}
<pre><code class="code python">{{ include_raw(textfile)}}</code></pre>
{% endmacro %}

{% macro cpp_block(textfile) %}
<pre><code class="code cpp">{{ include_raw(textfile)}}</code></pre>
{% endmacro %}

{% macro placeholder_section(title, id) %}
    <h3 class="hash-header" id="{{ id }}">{{ title }}</h3>
    <div class="ui fluid placeholder">
        <div class="image header">
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="paragraph">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="paragraph">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="paragraph">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
{% endmacro %}