{% extends "base.html" %}
{% block sidebar %}
<div class="ui fluid card">
  <div class="image">
    <img src="{{ url_for('static', filename='headshot.jpg') }}">
  </div>
  <div class="content">
    <a class="header">Geoffrey Cline</a>
    <div class="description">
      Geoffrey is a patent agent, with technical writing experience. He has a computer science background.
    </div>
  </div>
    <div class="extra content">
      <a>
        <i class="mail icon"></i>
        <a href="mailto:geoffrey@cline.group">geoffrey@cline.group</a>
      </a>
    </div>
</div>
<button onclick="window.open('https://www.linkedin.com/in/geoffrey-cline/');" class="ui labeled icon fluid button">
  <i class="linkedin icon"></i>
  LinkedIn
</button>
<p></p>
<button onclick="window.open('https://bitbucket.org/gdcwd5/');" class="ui labeled icon fluid button">
  <i class="bitbucket icon"></i>
  BitBucket
</button>
<p></p>
<button onclick="window.open('https://github.com/geoffcline');" class="ui labeled icon fluid button">
  <i class="github icon"></i>
  GitHub
</button>
{% endblock %}
{% block content %}
    <div class="ui top attached red segment">
      <h2>Experience</h2>
    </div>
    <div class="ui attached segment">
      <h3 id="perkins-coie-llp">Perkins Coie LLP</h3>
      <a class="ui label">
        Seattle, WA
      </a>
      <a class="ui label">
        August 2019 - Present
      </a>
      <a class="ui label">
        Patent Agent
      </a>
      <ul>
      <li>Drafted valuable patent applications, measured by USPTO art unit assignment, by analyzing code samples and interviewing software engineers.</li>
      <li>Developed patent portfolio for a startup client by analyzing voluminous sprint meeting notes and identifying four patentable feature areas. </li>
      <li>Advanced patent prosecution, measured by development of distinct claims, by analyzing code samples to identify relevant features. </li>
      <li>Managed a complex docket, including client and legal deadlines. Developed workflow leveraging markdown and version control software to expedite drafting. </li>
      <li>Prosecuted patent applications including machine learning, data processing, encryption, and authentication.</li>
      </ul>
    </div>
    <div class="ui bottom attached segment">
      <h3 id="armstrong-teasdale-llp">Armstrong Teasdale LLP</h3>
      <div class="ui labels">
        <a class="ui label">
          St. Louis, MO
        </a>
        <a class="ui label">
          June 2017 – July 2019
        </a>
        <a class="ui label">
          Patent Agent
          <div class="detail">Patent Engineer, Patent Intern</div>
        </a>
      </div>

      <ul>
      <li>Developed elegant and flexible internal tool for retrieving data using European Patent Office APIs, eagerly adopted in my department, using JavaScript, HTML, and a CSS framework. </li>
      <li>Supported complex existing tools structured as unusually complex Excel Macros (Visual Basic). </li>
      <li>Impressed software engineers with draft patent applications accurately capturing complex systems, in scopes covering specialized improvements or overall system architectures.  </li>
      </ul>
      
    </div>
    <div class="ui top attached green segment">
      <h2>Education</h2>
    </div>
    <div class="ui bottom attached segment">
      <h3>Missouri University of Science &amp; Technology</h3>
      <a class="ui label">
        Rolla, MO
      </a>
      <a class="ui label">
        August 2013 – May 2017
      </a>
      <ul>
        <li>B.S. In Computer Science</li>
        <li>Summa Cum Laude        </li>
        <li>3.94/4.00 GPA</li>
        </ul>
        
    </div>
    <div class="ui top attached orange segment">
      <h2>Skills</h2>
    </div>
    <div class="ui bottom attached segment">
      <div class="ui large labels">
        <a class="ui label">
          Python
          <div class="detail">Django, Flask</div>
        </a>
        <a class="ui label">
          JavaScript
          <div class="detail">jQuery</div>
        </a>
        <a class="ui label">
          C/C++
        </a>
        <a class="ui label">
          Assembly
        </a>
        <a class="ui label">
          SQL
        </a>
        <a class="ui label">
          HTML
          <div class="detail">CSS, Semantic UI, Bootstrap</div>
        </a>
        <a class="ui label">
          Git
        </a>
        
        <a class="ui label">
          Linux
          <div class="detail">Bash</div>
        </a>
      </div>
      
    </div>
    <div class="ui top attached purple segment">
      <h2>Honors & Experience</h2>
    </div>
    <div class="ui attached segment">
      <h3 id="undergraduate-research-assistant-january-2016-may-2017">Undergraduate Research Assistant</h3>
      <a class="ui label">
        Missouri S&T
      </a>
      <a class="ui label">
        January 2016 – May 2017
      </a>
      <ul>
      <li>Supported distributed system written in C++ and incorporating Google Protocol Buffers. </li>
      <li>Developed automated build system targeting multiple platforms (Unix x86, ARM). </li>
      </ul>
    </div>
  <div class="ui attached segment">
      <h3 id="tracerfire-cyber-forensics-weekend-event-missouri-s-t-fall-2014-fall-2015">TracerFIRE Cyber Forensics Weekend Event</h3>
      <a class="ui label">
        Missouri S&T
      </a>
      <a class="ui label">
        Fall 2014
      </a>
      <a class="ui label">
        Fall 2015
      </a>
      <ul>
      <li>Excellent performance (1st place 2014, 2nd 2015) driven by leveraging documentation and coordinating team efforts. Rapidly matched software tools to various challenges. </li>
      </ul>
    </div>
    <div class="ui bottom attached segment">
      <h3 id="director-of-student-funding-student-activity-finance-board-2015">Director of Student Funding</h3>
      <a class="ui label">
        Student Activity Finance Board
        <div class="detail">Missouri S&T</div>
      </a>
      <a class="ui label">
        2015
      </a>

      <ul>
      <li>Transformed outdated paper funding application process. Vastly improved user satisfaction through well-structured online documentation and easy online submission process. Built HTML website, incorporated embedded Google Docs for fast-changing documents, and used screenshare videos (SoapBox) for education. </li>
      </ul>
      
    </div>
{% endblock %}