{% extends "base.html" %}
{% block sidebar %}
<style type="text/css">
        p {
            font-size: medium;
        }

        li {
            font-size: medium;
        }
</style>
<div class="ui sticky">
<h2>Configure Server</h2>
        <div class="ui secondary vertical pointing fluid menu" id="main-nav">
          {{ hash_link('fax_server','vm') }}
            Setup VM
          </a>
          {{ hash_link('fax_server','core') }}
            Install Core Software
          </a>
          {{ hash_link('fax_server','database') }}
            Setup Database
          </a>
          {{ hash_link('fax_server','mxrecords') }}
            Setup Receive Emails
          </a>
          {{ hash_link('fax_server','webinterface') }}
            Install Web Interface
          </a>
        </div>
        <h2>Admin Tasks</h2>
        <div class="ui secondary vertical pointing fluid menu" id="main-nav">
          {{ hash_link('fax_server','access') }}
            Access Web Interface
          </a>
          {{ hash_link('fax_server','provider') }}
            Setup Fax Provider
          </a>
          {{ hash_link('fax_server','users') }}
            Configure Users/Numbers
          </a>
          {{ hash_link('fax_server','incoming') }}
            Incoming Faxes by Email
          </a>
          {{ hash_link('fax_server','transmit') }}
            Transmit Faxes by Email
          </a>
        </div>
    </div>
{% endblock %}
