{% extends "base.html" %}
{% block sidebar %}
<style type="text/css">
    p {
        font-size: medium;
    }

    li {
        font-size: medium;
    }
</style>
    <div class="ui">
        <div class="ui secondary vertical pointing fluid menu">
            {{ nav_link('api_index') }}
                Introduction
            </a>
        </div>
        <h3>Essential Methods</h3>
        <div class="ui secondary vertical pointing fluid menu">
            {{ nav_link('api_post_fax') }}
            <div class="ui blue horizontal label">Post</div>
            Create outgoing fax
            </a>
            {{ nav_link('api_get_fax') }}
            <div class="ui green horizontal label">Get</div>
            Retrieve fax
            </a>
            {{ nav_link('api_cancel') }}
            <div class="ui blue horizontal label">Post</div>
            Cancel outgoing fax
            </a>
            {{ nav_link('api_delete') }}
            <div class="ui red horizontal label">Delete</div>
            Delete completed fax
            </a>
        </div>
        <h3>Receiving Faxes</h3>
        <div class="ui secondary vertical pointing fluid menu">
            {{ nav_link('api_callback') }}
                Callback URLs
            </a>
        </div>
        <h3>Reference</h3>
        <div class="ui secondary vertical pointing fluid menu">
            {{ nav_link('api_fax_r') }}
                <div class="ui purple horizontal label">Resource</div>
                Fax
            </a>
            {{ nav_link('api_fax_media_r') }}
                <div class="ui purple horizontal label">Resource</div>
                Fax Media
            </a>
            {{ nav_link('api_status') }}
                <div class="ui teal horizontal label">Webhook</div>
                Status Callback
            </a>
            <a class="item" href="{{ url_for('api_callback') + '#callback1' }}">
                <div class="ui teal horizontal label">Webhook</div>
                Incoming Fax
            </a>
        </div>
    </div>
{% endblock %}
