{% extends "api/base.html" %}
{% block content %}
    <h2>Receive Faxes using a Callback URL (i.e., Webhook)</h2>
    <div class="ui warning message">
        <div class="header">
            Fax-Capable Phone Numbers
        </div>
        <p>Check if a phone number is capable of receiving faxes before publishing it.</p>
        </div>
    <p>Only certain phone numbers are capable of receiving faxes. Use the <a href="https://www.twilio.com/console/phone-numbers/search">Twilio dashboard</a> to search for numbers capable of receiving incoming faxes, and to configure webhooks.</p>
    <p>Receive faxes using Twilio with Callback URLs (i.e., Webhooks). Twilio will call out to your web application at the URL when a fax is incoming. Then, the web application can request the fax object and initiate processing (e.g., create a ticket, email to a user). </p>
    <p>Use the Twilio dashboard to configure the callback URLs (e.g., links to your server).</p>
    
    <div class="ui styled fluid accordion">
    <div class="title">
        <i class="dropdown icon"></i>
        Example of Webhook Added to Dashboard
    </div>
    <div class="content" id="about">
        <img class="ui fluid screenshot image" src="{{ url_for('static', filename='fax-webhook.width-800.png') }}">
    </div>
    </div>
    <p></p>
    <p>Twilio handles incoming faxes in two stages, an alert of an incoming fax, and an alert that the fax resource is ready.</p>

    <p>Twilio can be configured to include authentication headers when connecting to your web application. Twilio also supports HTTPS. View the <a href="https://www.twilio.com/docs/usage/security#http-authentication">security documentation</a> for more information.</p>

    <h3 id="callback1">Incoming Fax Callback</h3>
    <table class="ui celled compact table">
        <thead>
        <tr>
            <th colspan="2">Sample Incoming Fax Callback from Twilio</th>
        </tr>
        </thead>
        <tr>
            <td>
                <div class="ui horizontal blue label">POST</div></td>
            <td class="table-code">http://myserver.dev/fax/incoming</td>
        </tr>
    </table>
    <p>Twilio makes a call to this endpoint when a fax is incoming. Responding to this request determines if the fax is accepted or rejected.</p>



    <table class="ui celled compact table">
        <thead>
        <tr>
            <th colspan="3">Incoming Fax Request Properties</th>
        </tr>
        </thead>
        <tr>
            <td class="table-code">FaxSid</td>
            <td>
                <div class="ui horizontal label">String</div>
            </td>
            <td>Unique identifier of the incoming fax.</td>
        </tr>

        <tr>
            <td class="table-code">From</td>
            <td>
                <div class="ui horizontal label">String</div>
            </td>
            <td>Phone number transmitting the incoming fax.
            </td>
        </tr>
        <tr>
            <td class="table-code">To</td>
            <td>
                <div class="ui horizontal label">String</div>
            </td>
            <td>Phone number receiving the incoming fax. 
            </td>
        </tr>

    </table>
    <div class="ui warning message">
        <div class="header">
            Respond to the incoming alert
        </div>
        <p>Direct Twilio to accept or reject an incoming fax. Responding to the incoming fax callback is required.</p>
        </div>
    <p>A response accepting the fax defines the location Twilio should alert when the fax is ready. In other words, when responding to an incoming fax, you can define the URL Twilio should call when the fax is ready. For example, you can route faxes to different endpoints based on the number the fax was sent to.</p>
    <p>The fax can also be rejected. For example, faxes can be blocked based on the sender phone number.</p>
    <p>The response should be XML formatted. Use the "response" tag, with either a "reject" or "receive" subtag.</p>
    <h4>Accept an Incoming Fax</h4>
    <div class="ui top attached code blue segment">
        Example accept response
    </div>
    <div class="ui bottom attached code segment">
        {{ code_block('api/code-samples/accept.txt') }}
    </div>
    <table class="ui celled compact table">
        <thead>
        <tr>
            <th colspan="3">Response Parameters</th>
        </tr>
        </thead>
        <tr>
            <td class="table-code">action</td>
            <td>
                <div class="ui horizontal label">URL</div>
            </td>
            <td>The relative URL Twilio calls when the fax is ready.</td>
        </tr>
        <tr>
            <td class="table-code">method</td>
            <td>
                <div class="ui horizontal label">enum</div>
            </td>
            <td>The HTTP method used for the request when the fax is ready. "POST" (default) or "GET" values are accepted.</td>
        </tr>
        <tr>
            <td class="table-code">pageSize</td>
            <td>
                <div class="ui horizontal label">enum</div>
            </td>
            <td>What size to interpret received pages as (defaults to letter, US Letter). Supported values: letter, legal, and a4.</td>
        </tr>
    </table>
    <p>Accepting a fax requires defining an action (e.g., relative URL) to be called when the fax is completed.</p>
    <p>Optionally, you can set additional restrictions on the incoming fax. For example, you can change the page size (e.g., store fax images in A4 sized images).</p>

    <h4>Reject an Incoming Fax</h4>
    <div class="ui top attached code blue segment">
        Example Reject Response
    </div>
    <div class="ui bottom attached code segment">
        {{ code_block('api/code-samples/reject.txt') }}
    </div>
    <p>Rejecting a fax is final, and no attributes.</p>
    <h3>Received Fax Callback</h3>
    <table class="ui celled compact table">
        <thead>
        <tr>
            <th colspan="2">Sample Received Fax Callback from Twilio</th>
        </tr>
        </thead>
        <tr>
            <td>
                <div class="ui horizontal blue label">POST</div></td>
            <td class="table-code">http://myserver.dev/accounting/fax-received</td>
        </tr>
    </table>
    <p>Twilio calls the second endpoint when the fax is ready. The second endpoint is defined in the response to the incoming fax alert. In other words, this endpoint is not configured in the Twilio dashboard.</p>
    <p>The second call includes the completed fax resource (e.g., the SID of the fax, the URL of the received PDF). The SID of the incoming fax can be used to retrieve the fax object later. The fax can also be deleted from Twilio's servers using the SID.</p>
    <p>Review the <a href="{{ url_for('api_fax_r') }}">fax resource</a> information for information on the available properties.</p>



    <p></p>
    <p></p>
{% endblock %}
