{% extends "api/base.html" %}
{% block content %}
    <h2>Cancel Outgoing Fax</h2>
    <div class="ui top attached code orange segment">
        <p>Example HTTP Post Request, using Curl</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">curl -X POST https://fax.twilio.com/v1/Faxes/FXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX \
--data-urlencode "Status=canceled" \
-u ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:your_auth_token</code></pre>
    </div>
    <p>Faxes that have not begun transmission can be cancelled. Then, the fax will not be sent to the destination. After a fax has begun sending, it's status will change to either "Success" or "Failed", based on the result of sending.</p>
    <p>Cancelling a fax prevents transmission. To delete the data associated with the fax, use the "delete" method.</p>
    
    <table class="ui celled compact table">
        <tbody>
        <tr>
            <td>Method</td>
            <td>
                <div class="ui horizontal blue label">Post</div>
            </td>
        </tr>
        <tr>
            <td>URI</td>
            <td class="table-code">https://fax.twilio.com/v1/Faxes/{Sid}</td>
        </tr>
        <tr>
            <td>Authentication</td>
            <td>Required, Token</td>
        </tr>
        </tbody>
    </table>
    <table class="ui celled compact table">
        <thead>
        <tr>
            <th colspan="3">Required Parameters</th>
        </tr>
        </thead>
        <tr>
            <td class="table-code">Sid</td>
            <td>
                <div class="ui horizontal label">String</div>
            </td>
            <td>Unique identifier of a fax resource, included in the response when creating a fax.</td>
        </tr>
        <tr>
            <td class="table-code">Status</td>
            <td>
                <div class="ui horizontal label">String</div>
            </td>
            <td>This can only be "cancelled"</td>
        </tr>
    </table>
    <table class="ui celled compact table">
        <thead>
        <tr>
            <th colspan="3">Return Values</th>
        </tr>
        </thead>
        <tr>
            <td class="table-code">200</td>
            <td>
                <div class="ui horizontal green label">Success</div>
            </td>
            <td>The fax has been cancelled and will not be sent. The response includes a fax resource with the status of
                cancelled.
            </td>
        </tr>
        <tr>
            <td class="table-code">400</td>
            <td>
                <div class="ui horizontal red label">Error</div>
            </td>
            <td>The status value is not valid.</td>
        </tr>
        <tr>
            <td class="table-code">404</td>
            <td>
                <div class="ui horizontal red label">Error</div>
            </td>
            <td>The "FaxSid" was not found.</td>
        </tr>
        <tr>
            <td class="table-code">409</td>
            <td>
                <div class="ui horizontal red label">Error</div>
            </td>
            <td>The fax has been sent, or failed. Faxes cannot be cancelled once sending has begun.</td>
        </tr>
    </table>



    <p></p>
    <p></p>
{% endblock %}
