{% extends "api/base.html" %}
{% block content %}
    <h2>Delete Completed Fax</h2>
    <div class="ui top attached code orange segment">
        <p>Example HTTP Post Request, using Curl</p>
    </div>
    <div class="ui bottom attached code segment">
        {{ code_block('api/code-samples/delete.txt') }}
    </div>
    <p>Deleting a fax discards the associated media (e.g., PDF) and metadata. You can only delete a fax after its status has been updated to "success", "failed", or "cancelled".</p>
    <p>The fax media resource can be deleted independently of the fax metadata (e.g., record of transmission), using a the delete method on the Fax Media resource.</p>

    <table class="ui celled compact table">
        <tbody>
        <tr>
            <td>Method</td>
            <td>
                <div class="ui horizontal red label">Delete</div>
            </td>
        </tr>
        <tr>
            <td>URI</td>
            <td class="table-code">https://fax.twilio.com/v1/Faxes/{Sid}</td>
        </tr>
        <tr>
            <td>Authentication</td>
            <td>Required, Token</td>
        </tr>
        </tbody>
    </table>
    <table class="ui celled compact table">
        <thead>
        <tr>
            <th colspan="3">Return Values</th>
        </tr>
        </thead>
        <tr>
            <td class="table-code">204</td>
            <td>
                <div class="ui horizontal green label">Success</div>
            </td>
            <td>The resource, and it's subresources (e.g., fax media), are deleted.</td>
        </tr>
        <tr>
            <td class="table-code">409</td>
            <td>
                <div class="ui horizontal red label">Error</div>
            </td>
            <td>The fax has not moved into a completed state (e.g., success, cancelled, failed), and cannot be deleted.</td>
        </tr>

    </table>



    <p></p>
    <p></p>
{% endblock %}
