{% extends "api/base.html" %}
{% block content %}
<h2>Fax Resource</h2>
    <p>Twilio uses the fax resource to represent both incoming and outgoing faxes.</p>
<table class="ui celled compact table">
    <thead>
    <tr>
        <th colspan="3">Unique Attributes</th>
    </tr>
    </thead>
    <tr>
        <td class="table-code">sid</td>
        <td>
            <div class="ui horizontal label">string</div>
        <td>A unique identifier of the fax resource. Used to retrieve and delete the fax.</td>
        </td>
    </tr>
    <tr>
        <td class="table-code">from</td>
        <td>
            <div class="ui horizontal label">string</div>
        <td>The phone number that sent the fax. See E.164 formatting information below. </td>
        </td>
    </tr>
    <tr>
        <td class="table-code">to</td>
        <td>
            <div class="ui horizontal label">string</div>
        <td>The phone number that received the fax. See E.164 formatting information below.</td>
        </td>
    </tr>
    <tr>
        <td class="table-code">quality</td>
        <td>
            <div class="ui horizontal label">enum</div>
        <td>The quality the fax was transmitted in, as defined by faxing standards. See below for more info.</td>
        </td>
    </tr>
    <tr>
        <td class="table-code">media_url</td>
        <td>
            <div class="ui horizontal label">string</div>
        <td>The location of the media storing fax document (e.g., received pages). Stored in PDF format.</td>
        </td>
    </tr>
    <tr>
        <td class="table-code">media_sid</td>
        <td>
            <div class="ui horizontal label">string-sid</div>
        <td>The unique identifier of the media (i.e., PDF of pages) resource.</td>
        </td>
    </tr>
    <tr>
        <td class="table-code">num_pages</td>
        <td>
            <div class="ui horizontal label">integer</div>
        <td>The number of pages in the media document.</td>
        </td>
    </tr>
    <tr>
        <td class="table-code">duration</td>
        <td>
            <div class="ui horizontal label">integer</div>
        <td>The time in minutes of the fax transmission.</td>
        </td>
    </tr>
    <tr>
        <td class="table-code">status</td>
        <td>
            <div class="ui horizontal label">enum</div>
        <td>Indicates if the fax transmission was successful, or failed. Also indicates states such as queued, and cancelled.</td>
        </td>
    </tr>
    <tr>
        <td class="table-code">direction</td>
        <td>
            <div class="ui horizontal label">enum</div>
        <td>Indicates if the fax is incoming or outgoing in relation to the Twilio account.</td>
        </td>
    </tr>

</table>
<div class="ui styled fluid accordion">
<div class="title">
    <i class="dropdown icon"></i>
    Twilio Shared Attributes
</div>
<div class="content" id="about">
    <table class="ui celled compact table">
    <tr>
        <td class="table-code">account_sid</td>
        <td>
            <div class="ui horizontal label">string</div>
        </td>
    </tr>
    <tr>
        <td class="table-code">api_version</td>
        <td>
            <div class="ui horizontal label">string</div>
        </td>
    </tr>
    <tr>
        <td class="table-code">price</td>
        <td>
            <div class="ui horizontal label">decimal</div>
        </td>
    </tr>
    <tr>
        <td class="table-code">price_unit</td>
        <td>
            <div class="ui horizontal label">string</div>
        </td>
    </tr>
    <tr>
        <td class="table-code">date_created</td>
        <td>
            <div class="ui horizontal label">date_time</div>
        </td>
    </tr>
    <tr>
        <td class="table-code">date_updated</td>
        <td>
            <div class="ui horizontal label">date_time</div>
        </td>
    </tr>
    <tr>
        <td class="table-code">links</td>
        <td>
            <div class="ui horizontal label">uri_map</div>
        </td>
    </tr>
    <tr>
        <td class="table-code">url</td>
        <td>
            <div class="ui horizontal label">url</div>
        </td>
    </tr>
</table>
</div>
</div>
<h3>Values of Status Property</h3>
    <table class="ui celled compact table">
        <tr>
            <td class="table-code">queued</td>
            <td>The fax resource was created, and is waiting to be transmitted.</td>
        </tr>
        <tr>
            <td class="table-code">processing</td>
            <td>The fax is being prepared for sending.</td>
        </tr>
        <tr>
            <td class="table-code">sending</td>
            <td>The fax is being sent, a connection is open to the receiving phone number.</td>
        </tr>
        <tr>
            <td class="table-code">delivered</td>
            <td>The fax has been successfully transmitted to an outside phone number.</td>
        </tr>
        <tr>
            <td class="table-code">receiving</td>
            <td>An incoming fax is being received from a phone number.</td>
        </tr>
        <tr>
            <td class="table-code">received</td>
            <td>An incoming fax has been successfully received from an outside phone number.</td>
        </tr>
        <tr>
            <td class="table-code">no-answer</td>
            <td>The outgoing phone number was called, and a fax machine did not answer. </td>
        </tr>
        <tr>
            <td class="table-code">busy</td>
            <td>The outgoing phone number was called, and a busy signal was received. </td>
        </tr>
        <tr>
            <td class="table-code">failed</td>
            <td>An incoming or outgoing fax transmission failed. For example, the connection was interrupted at the outside phone number.</td>
        </tr>
        <tr>
            <td class="table-code">cancelled</td>
            <td>A fax queued for sending was cancelled.</td>
        </tr>
    </table>
    <h3>Phone Numbers</h3>
    <p>Twilio stores and accepts phone numbers in the <a href="https://en.wikipedia.org/wiki/E.164">E.164 format</a>, also known as 'plus' format.</p>
    <p>Phone numbers start with the '+' symbol and the country code. The following digits are defined by the country.</p>
    <p>In the  states (country code 1) phone numbers include a 3 digit area code and a 7 digit local number. For example, "+18002752273". </p>
    <h3>Quality Enum</h3>
    <p>The quality enum defines the quality the fax was transmitted in. It a collection of loosely defined faxing industry standards. Twilio transforms PDFs before transmission based on this value.</p>
    <table class="ui celled compact table">
    <thead>
    <tr>
    <th align="left">Value</th>
    <th align="left">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td align="left">standard</td>
    <td align="left">low quality (204x98) resolution supported by all devices</td>
    </tr>
    <tr>
    <td align="left">fine</td>
    <td align="left"><div class="ui horizontal label">Default</div>medium quality (204x196) resolution, widely supported</td>
    </tr>
    <tr>
    <td align="left">superfine</td>
    <td align="left">high quality (204x392) resolution, may not be supported</td>
    </tr>
    </tbody>
    </table>
<h3>Fax Media Subresource</h3>
    <p>Fax resources include a <a href="{{ url_for('api_fax_media_r') }}">fax media subresource</a>, storing the document transmitted (e.g., PDF). The fax media resource may be deleted independently of the associated fax resource. For example, confidential documents may be deleted while maintaining a record of the fax. Deleting the fax resource automatically deletes the associated fax media resource.


<p></p>
<p></p>
{% endblock %}
