{% extends "api/base.html" %}
{% block content %}
<h2>Fax Media Resource</h2>
<table class="ui celled compact table">
    <thead>
    <tr>
        <th colspan="3">Unique Attributes</th>
    </tr>
    </thead>
    <tr>
        <td class="table-code">sid</td>
        <td>
            <div class="ui horizontal label">string-sid</div>
        <td>A unique identifier of the fax media resource. Used to retrieve and delete the fax media (e.g., PDF document).</td>
        </td>
    </tr>
    <tr>
        <td class="table-code">fax_six</td>
        <td>
            <div class="ui horizontal label">string-sid</div>
        <td>The identifier of the parent fax resource, containing the metadata (e.g., to/from) for the fax media.</td>
        </td>
    </tr>
    <tr>
        <td class="table-code">content_type</td>
        <td>
            <div class="ui horizontal label">string</div>
        <td>Currently, only "application/pdf" is supported.</td>
        </td>
    </tr>


</table>
<div class="ui styled fluid accordion">
    <div class="title">
        <i class="dropdown icon"></i>
        Twilio Shared Attributes
    </div>
    <div class="content" id="about">
        <table class="ui celled compact table">
            <tr>
                <td class="table-code">account_sid</td>
                <td>
                    <div class="ui horizontal label">string-sid</div>
                </td>
            </tr>
        
            <tr>
                <td class="table-code">date_created</td>
                <td>
                    <div class="ui horizontal label">date_time</div>
                </td>
            </tr>
            <tr>
                <td class="table-code">date_updated</td>
                <td>
                    <div class="ui horizontal label">date_time</div>
                </td>
            </tr>
            <tr>
                <td class="table-code">url</td>
                <td>
                    <div class="ui horizontal label">url</div>
                </td>
            </tr>
        </table>
    </div>
</div>

<h3>Fax Media Storage</h3>
<p>Twilio stores fax media for 180 days, by default.</p>
<p>You can delete fax media, or the parent fax resource.</p>

<h2>Methods</h3>
<h3>Retrieve a Specific Fax Media Resource</h3>
    <p>This method depends on knowing both the SID (unique identifier) of a fax media resource, and it's parent fax resource. Both values are included in the response when a fax is created.</p>
    <p>This method returns at most one fax media resource.</p>
    <div class="ui top attached code orange segment">
        <p>Example HTTP Post Request, using Curl</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">curl -X GET 'https://fax.twilio.com/v1/Faxes/FXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Media/MEXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX' \
            -u ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:your_auth_token</code></pre>
    </div>


    <table class="ui celled compact table">
        <tbody>
        <tr>
            <td>Method</td>
            <td>
                <div class="ui horizontal green label">Get</div>
            </td>
        </tr>
        <tr>
            <td>URI</td>
            <td class="table-code">https://fax.twilio.com/v1/Faxes/{FaxSid}/Media/{Sid}
            </td>
        </tr>
        <tr>
            <td>Authentication</td>
            <td>Required, Token</td>
        </tr>
        </tbody>
    </table>

    <h3>Delete a Fax Media Resource</h2>
    <div class="ui top attached code orange segment">
        <p>Example HTTP Post Request, using Curl</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">curl -X DELETE https://fax.twilio.com/v1/Faxes/FXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Media/MEXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX \
            -u ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:your_auth_token</code></pre>
    </div>
    <p>Deleting a fax discards the associated media (e.g., PDF) and metadata. You can only delete a fax after it's status has been updated to "success", "failed", or "cancelled".</p>
    <p>The fax media resource can be deleted independently of the fax metadata (e.g., record of transmission), using a the delete method on the Fax Media resource.</p>

    <table class="ui celled compact table">
        <tbody>
        <tr>
            <td>Method</td>
            <td>
                <div class="ui horizontal red label">Delete</div>
            </td>
        </tr>
        <tr>
            <td>URI</td>
            <td class="table-code">https://fax.twilio.com/v1/Faxes/{FaxSid}/Media/{Sid}</td>
        </tr>
        <tr>
            <td>Authentication</td>
            <td>Required, Token</td>
        </tr>
        </tbody>
    </table>

    <table class="ui celled compact table">
        <thead>
        <tr>
            <th colspan="3">Return Values</th>
        </tr>
        </thead>
        <tr>
            <td class="table-code">204</td>
            <td>
                <div class="ui horizontal green label">Success</div>
            </td>
            <td>The resource is deleted.</td>
        </tr>
        <tr>
            <td class="table-code">409</td>
            <td>
                <div class="ui horizontal red label">Error</div>
            </td>
            <td>The parent fax has not moved into a completed state (e.g., success, cancelled, failed), and can not be deleted.</td>
        </tr>

    </table>



    <p></p>
    <p></p>

<p></p>
<p></p>
{% endblock %}
