{% extends "api/base.html" %}
{% block content %}
    <h2>Retrieve Fax</h2>
    <p>Twilio provides two ways to retrieve faxes. You can request a specific fax with its unique identifier (SRI), or
        you can search faxes (e.g., based on phone number).</p>
    <h3>Retrieve a specific fax</h3>
    <p>This method depends on knowing the SID (unique identifier) of a fax resource. The SID is included in the response
        when a fax is created</p>
    <p>This method returns at most one fax resource.</p>
    <div class="ui top attached code orange segment">
        <p>Example HTTP Post Request, using Curl</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">curl -X GET 'https://fax.twilio.com/v1/Faxes/FXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX' \
-u ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:your_auth_token</code></pre>
    </div>


    <table class="ui celled compact table">
        <tbody>
        <tr>
            <td>Method</td>
            <td>
                <div class="ui horizontal green label">Get</div>
            </td>
        </tr>
        <tr>
            <td>URI</td>
            <td class="table-code">https://fax.twilio.com/v1/Faxes/{Sid}</td>
        </tr>
        <tr>
            <td>Authentication</td>
            <td>Required, Token</td>
        </tr>
        </tbody>
    </table>
    <table class="ui celled compact table">
        <thead>
        <tr>
            <th colspan="3">Required Parameters</th>
        </tr>
        </thead>
        <tr>
            <td class="table-code">Sid</td>
            <td>
                <div class="ui horizontal label">String</div>
            </td>
            <td>Unique identifier of a fax resource, included in the response when creating a fax.</td>
        </tr>

    </table>
    <table class="ui celled compact table">
        <thead>
        <tr>
            <th colspan="3">Return Values</th>
        </tr>
        </thead>
        <tr>
            <td class="table-code">200</td>
            <td>
                <div class="ui horizontal green label">Success</div>
            </td>
            <td>The fax resource instance was found and returned.</td>
        </tr>
        <tr>
            <td class="table-code">404</td>
            <td>
                <div class="ui horizontal red label">Error</div>
            </td>
            <td>The fax resource was not found using the provided SID.
            </td>
        </tr>
    </table>

    <h3>Retrieve multiple faxes with a parameter</h3>
    <p>Twilio supports retrieving faxes based on phone number or date.</p>
    <p>This method may return any number of fax resources.</p>
    <div class="ui top attached code orange segment">
        <p>Example HTTP Post Request, using Curl</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">curl -X GET 'https://fax.twilio.com/v1/Faxes?From=+15017122661' \
-u ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:your_auth_token
</code></pre>
    </div>
    <table class="ui celled compact table">
        <tbody>
        <tr>
            <td>Method</td>
            <td>
                <div class="ui horizontal green label">Get</div>
            </td>
        </tr>
        <tr>
            <td>URI</td>
            <td class="table-code">https://fax.twilio.com/v1/Faxes</td>
        </tr>
        <tr>
            <td>Authentication</td>
            <td>Required, Token</td>
        </tr>
        </tbody>
    </table>
    <table class="ui celled compact table">
        <thead>
        <tr>
            <th colspan="3">Optional Parameters</th>
        </tr>
        </thead>
        <tr>
            <td class="table-code">From</td>
            <td>
                <div class="ui horizontal label">String</div>
            </td>
            <td>The phone number that sent the fax.</td>
        </tr>
        <tr>
            <td class="table-code">To</td>
            <td>
                <div class="ui horizontal label">String</div>
            </td>
            <td>The phone number that received the fax.</td>
        </tr>
        <tr>
            <td class="table-code">DateCreatedOnOrBefore</td>
            <td>
                <div class="ui horizontal label">DATE_TIME-ISO8601</div>
            </td>
            <td>Limit the results to faxes created (e.g., sent, received) on or before the specified date time. Use ISO8601 format.</td>
        </tr>
        <tr>
            <td class="table-code">DateCreatedAfter</td>
            <td>
                <div class="ui horizontal label">DATE_TIME-ISO8601
            </td>
            <td>Limit the results to faxes created (e.g., sent, received) after the specified date time. Use ISO8601 format.</td>
        </tr>

    </table>
    <table class="ui celled compact table">
        <thead>
        <tr>
            <th colspan="3">Return Values</th>
        </tr>
        </thead>
        <tr>
            <td class="table-code">200</td>
            <td>
                <div class="ui horizontal green label">Success</div>
            </td>
            <td>The search was completed. Zero or more faxes may be returned.</td>
        </tr>
        <tr>
            <td class="table-code">422</td>
            <td>
                <div class="ui horizontal red label">Error</div>
            </td>
            <td>The request is incorrectly formatted. The "to" or "from" numbers may be invalid. 
            </td>
        </tr>
    </table>
    <p></p>
    <p></p>
{% endblock %}
