{% extends "api/base.html" %}
{% block content %}
    <h2>Send and Receive Faxes with Twilio</h2>
    <p>If you have a PDF and a destination phone number, Twilio handles the complexity of faxing. Faxing includes transmitting an image (e.g., a PDF) to dedicated fax hardware at a destination phone number. Faxing is common in industries such as healthcare, finance, and insurance.</p>
    <p>The API is organized around the fax resource. The fax resource represents both sent and received faxes. The properties of the fax resource include the destination phone number, the sender Caller ID phone number, and a URL to a PDF of the faxed document. </p>
    <h3 id="sending">Sending Faxes</h3>
    <p>Creating a fax resource using the API triggers Twilio to transmit the fax over the phone network. You can send faxes from Twilio phone numbers, or from verified Caller IDs in your account. </p>
    <p>Twilio retrieve the outgoing PDF during sending using a URL. In other words, faxes are not uploaded to Twilio. After creating a fax object (see, post method), Twilio uses the included media_URL parameter to retrieve the PDF from your webserver. Twilio can be configured to include authentication headers when accessing the media_URL. </p>
    <h3 id="receiving">Receiving Faxes</h3>
    <p>Twilio receives incoming faxes, and generates a callback (i.e., webhook) back to your application. Access the properties of the received fax resource using the same API. Twilio provides a URL to a PDF of the received document. </p>
    
    <p>Only certain phone numbers are capable of receiving faxes. Use the <a href="https://www.Twilio.com/console/phone-numbers/search">Twilio dashboard to search for numbers capable of receiving incoming faxes.</a></p>
    <div class="ui warning message">
    <div class="header">
        Fax-Capable Phone Numbers
    </div>
    <p>Check if a phone number is capable of receiving faxes before publishing it.</p>
    </div>
    <h3>Authentication</h3>
    <p>Include basic authentication headers in your API requests.</p>
    <p>Pass your Account SID as the username and Auth Token as the password. These values are located in <a href="https://www.twilio.com/console">the console</a>.</p>
    <p>Alternatively, you can use Twilio API keys to generate unique credentials for your application. Use the API Key SID as the username, with API Key Secret as the password.</p>
    

    <p></p>
    <p></p>
{% endblock %}
