{% extends "api/base.html" %}
{% block content %}
<h2>Create Outgoing Fax</h2>
      <div class="ui top attached code orange segment">
        <p>Example HTTP Post Request, using Curl</p>
      </div>
      <div class="ui bottom attached code segment">
        <pre><code class="code shell">curl -X POST https://fax.twilio.com/v1/Faxes \
--data-urlencode "From=+15017122661" \
--data-urlencode "To=+15558675310" \
--data-urlencode "MediaUrl=https://contoso.com/bill-8.pdf" \
-u ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:your_auth_token</code></pre>
      </div>
    
      <p>Faxes are automatically queued for sending after they are created. Check the return status code to make sure the fax was successfully created.</p>
      <p>Twilio retrieves the outgoing PDF from a URL you provide. Twilio can include <a href="https://www.twilio.com/docs/usage/security#http-authentication">authentication headers</a> when requesting the document during sending.</p>
      <table class="ui celled compact table">
        <tbody>
        <tr>
          <td>Method</td>
          <td><div class="ui horizontal blue label">Post</div></td>
        </tr>
        <tr>
          <td>URI</td>
          <td class="table-code">https://fax.twilio.com/v1/Faxes</td>
        </tr>
        <tr>
          <td>Authentication</td>
          <td><a href="https://www.twilio.com/docs/iam/keys/api-key-resource">Required, Token</a></td>
        </tr>
        </tbody>
      </table>
      <table class="ui celled compact table">
        <thead>
        <tr><th colspan="3">Required Parameters</th></tr>
        </thead>
        <tr>
          <td class="table-code">To</td>
          <td><div class="ui horizontal label">String</div></td>
          <td>Phone number to receive fax</td>
        </tr>
        <tr>
          <td class="table-code">From</td>
          <td><div class="ui horizontal label">String</div></td>
          <td>Phone number to transmit fax (caller ID)</td>
        </tr>
        <tr>
          <td class="table-code">MediaURL</td>
          <td><div class="ui horizontal label">URL</div></td>
          <td> URL of PDF to transmit. Twilio will retrieve the PDF.</td>
        </tr>
      </table>
      <table class="ui celled compact table">
        <thead><tr><th colspan="3">Return Values</th></tr></thead>
        <tr>
          <td class="table-code">201</td>
          <td><div class="ui horizontal green label">Success</div></td>
          <td>The new fax has been queued for sending.</td>
        </tr>
        <tr>
          <td class="table-code">403</td>
          <td><div class="ui horizontal red label">Error</div></td>
          <td>The "from" number is not appropriate. The number may be blacklisted (e.g., spam), not reachable (e.g., international), or not authorized for your account.</td>
        </tr>
        <tr>
          <td class="table-code">422</td>
          <td><div class="ui horizontal red label">Error</div></td>
          <td>The request is incorrectly formatted. The "to" or "from" numbers may be invalid. The quality value may be invalid. The "MediaURL" or "StatusCallback" URLs may be invalid.</td>
        </tr>
      </table>
      <table class="ui celled compact table">
        <thead><tr><th colspan="3">Optional Parameters, reference <a href="{{ url_for('api_fax_r') }}">Fax Resource</a> for more info</th></tr></thead>
        <tr>
          <td class="table-code">Quality</td>
          <td><div class="ui horizontal label">Enum</div></td>
          <td>Values can include "standard", "fine" (default), and "superfine." Superfine may not be supported by the receiving device. Case sensitive.</td>
        </tr>
        <tr>
          <td class="table-code">StatusCallBack</td>
          <td><div class="ui horizontal label">URL</div></td>
          <td>This URL will be called when the fax status is updated. This will be called twice. First, when the fax is "queued" and ready for transmission. Second, when the fax has been "delivered" or "failed." View the <a href="{{ url_for('api_status') }}">status callback</a> for more information.</td>
        </tr>
        <tr>
          <td class="table-code">StoreMedia</td>
          <td><div class="ui horizontal label">Boolean</div></td>
          <td>Indicates if Twilio should store a copy of the PDF (from MediaURL) after transmission. Defaults to true.</td>
        </tr>
        <tr>
          <td class="table-code">TtL</td>
          <td><div class="ui horizontal label">Integer</div></td>
          <td>Time to Live. How long in <strong>minutes</strong> to delay the sending of the fax, measured from when the fax is created.</td>
        </tr>
      </table>


      <p></p>
      <p></p>
{% endblock %}
