{% extends "api/base.html" %}
{% block content %}
    <h2>Fax Status Callback</h2>
    <p>	Twilio can be configured to call a URL when the fax status is updated.</p><p>This will be called twice. First, when the fax is "queued" and ready for transmission. Second, when the fax has been "delivered" or "failed."</p>
    <div class="ui top attached code orange segment">
        <p>Example HTTP Post Request, using Curl</p>
    </div>
    <div class="ui bottom attached code segment">
        <pre><code class="code shell">curl -X POST https://fax.twilio.com/v1/Faxes \
            --data-urlencode "From=+15017122661" \
            --data-urlencode "To=+15558675310" \
            --data-urlencode "MediaUrl=https://contoso.com/bill-8.pdf" \
            --data-urlencode "StatusCallBack=https://contoso.com/fax/status/" \
            -u ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX:your_auth_token</code></pre>
    </div>
    <table class="ui celled compact table">
        <thead>
        <tr>
            <th colspan="2">Sample Received Fax Callback from Twilio</th>
        </tr>
        </thead>
        <tr>
            <td>
                <div class="ui horizontal blue label">POST</div></td>
            <td class="table-code">http://myserver.dev/accounting/fax-received</td>
        </tr>
        <tr>
            <td class="table-code">Status</td>
            <td>"queued", "delivered", or "failed"</td>
        </tr>
    </table>
    



    <p></p>
    <p></p>
{% endblock %}
